<h1>Add a new game for <%= @developer.name %></h1>

<%= form_with url: "/developers/#{@developer.id}/games", method: :post, local: true do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %><br/>
  <%= form.label :year_released, "Year Released:" %>
  <%= form.text_field :year_released %><br/>
  <%= form.label :has_multiplayer, "Multiplayer:" %>
  <%= form.check_box :has_multiplayer %><br/>
  <%= form.hidden_field :developer_id, value: @developer.id %>
  <%= form.submit "Add Game"%>
<% end %>
