<h1>Add a new developer</h1>

<%= form_with url: '/developers', method: :post, local: true do |form| %>
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name %><br/>
  <%= form.label :year_founded, 'Year Founded:' %>
  <%= form.number_field :year_founded %><br/>
  <%= form.label :is_indie, 'Indie Studio:' %>
  <%= form.check_box :is_indie %><br/>
  <%= form.submit 'Add Developer' %>
<% end %>
