<h1><%= @developer.name %></h1>

<%= link_to "Update #{@developer.name}", "/developers/#{@developer.id}/edit" %>
<%= button_to "Delete", "/developers/#{@developer.id}", method: :delete %>

<p>Year Founded: <%= @developer.year_founded %></p>
<p>Indie: <%= @developer.is_indie %></p>
<p>Total Games: <%= @developer.game_count %></p>
<p><a href="/developers/<%= @developer.id %>/games">Games</a></p>