<h1>Add a new game</h1>

<%= form_with url: '/games', method: :post, local: true do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %><br/>
  <%= form.label :year_released, "Year Released:" %>
  <%= form.text_field :year_released %><br/>
  <%= form.label :has_multiplayer, "Multiplayer:" %>
  <%= form.check_box :has_multiplayer, {}, "true", "false" %><br/>
  <%= form.label :developer_id, "Developer:"%>
  <%= form.collection_select( :developer_id, @developers, :id, :name) %><br/>
  <%= form.submit "Add Game"%>
<% end %>
