<h1><%= @game.name %></h1>

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/developers">Developer Index</a></li>
<li><a href="/games">Game Index</a></li>
</ul>
</nav>

<p>Developer: <a href="/developers/<%= @game.developer_id %>"><%= @game.dev_name %></a></p>
<p>Year Released: <%= @game.year_released %></p>
<p>Multiplayer: <%= @game.has_multiplayer %></p>