<h1><%= @game.name %></h1>

<%= link_to "Update #{@game.name}", "/games/#{@game.id}/edit" %>

<p>Developer: <a href="/developers/<%= @game.developer_id %>"><%= @game.dev_name %></a></p>
<p>Year Released: <%= @game.year_released %></p>
<p>Multiplayer: <%= @game.has_multiplayer %></p>