<h1><%= @game.name %></h1>

<p>Developer: <a href="/developers/<%= @game.developer_id %>"><%= @game.dev_name %></a></p>
<p>Year Released: <%= @game.year_released %></p>
<p>Multiplayer: <%= @game.has_multiplayer %></p>